@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body{
    margin: 0;
    font-family: 'Noto Sans', Verdana, Geneva, Tahoma, sans-serif;
}
body * {
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    background-color: #3b0650;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left > h1{
    color: #4af96d;
    font-size: 3vw;
}
.left-image{
    width: 35vw;

}
.right{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3d205a;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}
.card > h1{
    color: #00ff48;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}
.text-field{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.text-field > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #421f54;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056 ;
    outline: none;
    box-sizing: border-box;
}
.text-field > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.text-field > input::placeholder{
    color: #f0ffff94;
} 
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #410263;
    background-color: #00ff0d;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #0dc86aa4 ;
    transition: all ease-in-out 0.3s;
}

.btn-login:hover{
    transform: scale(1.1);
    background-color:#f0ffffde ;
    color:#410263 ;
}
p{
    color: #f0ffffde;
}
a{
    text-decoration: none;
    color:  #00ff0d;
}
.card2{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #3d205a;

}
@media only screen and (max-width: 950px) {
    .card{
        width: 85%;
    }
}
@media only screen and (max-width:600px){
    .main{
        flex-direction: column;
    }
    .left > h1{
        display: none;
    }
    .left{
        width: 100%;
        height: auto;
    }
    .right{
        width: 100%;
        height: auto;
    }
    .left-image{
        width: 50vw;
    }
    .card{
        width: 90%;

    }
}